<div class="wrap-box">
  <div id="login-box">
    <div class="left sign_up">
      <h1>Sign up</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "login" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "login" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: "Confirmation Password", class: "login"%>
        <%= f.submit "Sign up", class: "form__submit-btn login" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>

    <div class="right">
      <div class="form__right login">
        <div class="form__padding login"><img class="form__image login" src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png"/></div>
      </div>
    </div>
  </div>
</div>
